 
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  overflow-x: hidden;
}
 

.content {
  padding: 10px;
  padding-top: 70px;
}

 
 