.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #04ff08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-box {
  background-color: #060505;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(42, 254, 13, 0.25);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #f6f6f6;
}

.signup-box form {
  display: flex;
  flex-direction: column;
}

.signup-box input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.signup-box button {
  background-color: #03e34e;
  color: white;
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-box button:hover {
  background-color: #2eb929;
}

.signup-box p {
  margin-top: 15px;
  font-size: 14px;
}

.signup-box a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.signup-box a:hover {
  text-decoration: underline;
}
